/* Prevent adjustments of font size after orientation changes.  */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    height: 100%;
    font-family: 'Lato', sans-serif;
  }
  
  /*---- apply a natural box layout model to all elements -------*/
  * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Mukta', sans-serif;
    font-family: 'Poppins', sans-serif; 
  }

  #headerWrapper {
    padding: .8rem 16px;
    border-bottom: 1px solid #eee;
  }

  header div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .5rem;
  }
  
  nav{
    button{
      position: absolute;
      top: 8px;
      right: 0;
      background: transparent;
      border: none;
      font-size: 1.5rem;
      color: #333;
      padding: .5rem 2vw .5rem 1rem;
    }
  }

  ul {
    display: none;
     position: absolute;
     right: 0;
     background-color: rgb(173, 216, 230);
     list-style-type: none;
  }

  ul.open {
    display: block;
  }

  ul li {
    padding: 0.2rem 0.2rem 0.2rem 2.5rem;
  }

  ul li.active a{
    color: red;
  }

  ul li a {
    display: block;
    padding: .9rem 2vw;;
    text-decoration: none;
    text-align: right;
  }

  main {
    padding-top: 1rem;
  }
  main img{
    width: 100%;
    height: auto;
  }

  main h1 {
    padding-left: $gutter;
  }

  .row {
    //border: greenyellow solid 1px;
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0;
    padding: 0 8px;
    justify-content: center;
  }

  .column {
    padding: 0 8px;
    h2{
      padding: .8rem $gutter;
      color: rgb(1, 47, 253)
    }
    h3 {
      padding: .5rem $gutter;
      color: rgb(232, 108, 0);
    }

    h4 {
      padding: .5rem $gutter;
    }

    p{
      padding: 0 .5rem $gutter;
    }
  }

  .description {
    display: grid;
    align-items: flex-start;
    gap: .5rem;
    grid-template-columns: 3fr 2fr;
    background-color: rgb(173, 216, 230);
  }

  footer {
    background-color: #eee;
    padding: .5rem;
    text-align: center;
    color: black;
  }
  

 
  

  //create the For Loop 
  @for $i from 1 through 12 {
    $w: calc($i/12) * 100%;
    .small-#{$i} {flex-basis: $w;}  //.small-i의 클라스를 만들고 flex-basis를 지정함
  }